$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$white: #ffffff;
$primary: #61e5a9;
$light-gray: #f8f9fa;
$button-color: #20c58a;
$error-text: #fa565b;
$body-color: #46585d;
$gray-100: #e9ecef;

// //heights
$header-height-desktop: 80px;
$header-height-mobile: 64px;
