@import "../../styles/reference";

.spinner {
  width: rem-calc(35px);
  height: rem-calc(35px);
  border-radius: 100%;
  position: relative;
  margin: auto;

  &__circle {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: calc(35px / 10) solid transparent;

    &--1 {
      border-top-color: $primary;
      animation: half-circle-spinner-animation 1s infinite;
    }

    &--2 {
      border-bottom-color: $primary;
      animation: half-circle-spinner-animation 1s infinite alternate;
    }
  }
}

@keyframes half-circle-spinner-animation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
